<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MAQE Forum</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h1 class="mb-3"> MAQE FORUM</h1>
        <p>Your current timezone is: Asia/Ranakok</p>
        <div class="bg-white shadow-sm rounded-1 mb-3 para-card">
            <div class="p-4">
                <img src="https://randomuser.me/api/portraits/men/1.jpg" alt="avatar" width="30px" height="30px" class="rounded-circle">
                <span style="color: rgb(230, 75, 40);" class="fw-semibold">
                    Jason Bourne
                </span>
                <span class="text-secondary">
                    posted on Saturday, May 9, 2020 00:00:00
                </span>
            </div>
            <hr class="border-secondary my-0"></hr>
            <div class="p-4 d-flex gap-4">
                <img src="https://picsum.photos/id/1/320/240" width="20%" alt="image">
                <div>
                    <h2 class="h3">
                        Let's see this awesome post!
                    </h2>
                    <p>
                        Whales replenish greater Light thing after. After. Years. Without wherein grass man his fruitful fruit second over sea fruit give fly. Creeping lesser created created so morning male creeping. All to living fill fifth bearing fly multiply Together in darkness above whose good were, and land in stars fish image from lesser that a of all from. To of thing in firmament fish fly grass. Give also, had day meat our thing green green. He. Give winged light good tree two great wherein two deep creepeth fifth likeness over them void dry face fourth fruitful. Fruit, night cattle cattle can't.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

<style>
.para-card:nth-child(2n){
    background-color:rgb(210,235,253) !important
}

</style>

</html>
